*{
    margin: 0px;
    border: 0px;
    padding:0px;
}

body{
    background-image: url("../img/bg.jpg");
    background-color: rgba(189, 175, 117, 0.479);
    font-family:serif;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size:18px;
}

h5{
    padding:20px;
    margin:0px;
    border:3px solid #123455;
    text-align: center;
    font-size:50px;
    color:white;
    font-family:"Youth Power";
}

h4{
    font-family: "Verdana";
    position: relative;
    font-size:28px;
    color:rgb(221, 119, 36);
    text-align:justify;
    padding:9px;
}

marquee{
    font-family:"Elianto";
    font-size:28px;
}

.vny2020:hover, .welcome-msg{
    display:block;
    font-family: "Verdana";
    position: relative;
    font-size:28px;
    color:rgb(221, 119, 36);
    text-align:justify;
}

h2{
    color:#fff;
    font-size: 35px;
    padding:20px;
}

.intro .logo{
    font-family:"sans-serif";
    text-decoration: solid;
    font-size: 20px;
    background-image: linear-gradient(rgb(255, 160, 36),rgb(231, 172, 94));
    padding:30px;
}

.intro .logo{
    background-color:rgba(255, 160, 36,0.5);
}

.intro .logo img{
    transform:translate(10px,10px);
    margin-left:50px;
    margin-right:50px;
    width: 300px;
    height:100px;
    border-radius: 60px;
}

.intro .logo .HMNR{
    float:right;
    font-family:"youth power";
    text-decoration: bold;
    color:white;
    font-size: 50px;
    margin-top:0px;
    width:50%;
}

.navigation{
    display:block;
    width:100%;
    margin:auto;
}

ul{
    float:right;
    font-family:serif;
    font-size: 20px;
    width:100%;
    color:#fff;
    text-decoration: none;
    padding-left: 40px;
    text-align:center;
    background-color: rgb(255, 160, 36);
}

ul li{
    margin:auto;
    display:inline-block;
    padding:15px 0px;   
}

ul li a,ul li a:visited{
    float:center;
    margin:auto;
    color:#fff;
    text-decoration: none;
    padding:15px 20px;
}


ul li a:hover,ul li a:active{
    margin:auto;
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding:15px 20px;
    border:0px;
    background-color: #dddddd;
    transition: 0.9s ease;
}

.intro{
    height: 20mm;
    position: relative;
    height:100px;
}


.info{
    width:650px;
    padding:15px;
    margin:15px;
    background-color: rgba(255, 235, 205, 0.307);
}


.welcome-msg{    
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-size:18px;
    color:rgb(255, 249, 249);
    width:600px;
    padding:20px;
    text-align:justify;
}

.gallery{
    background-color:#d36735 ;
    width:100%;
    margin-top: 300px;
}


.gallery .photos{
    background-color:rgba(9,9,9,0.3) ; 
    background-image:url("../img/bg2.jpg");
    background-size:110%; 
    background-repeat:no-repeat;  
}

.gallery .photos img:hover{
    margin-top:50px;
    width:315px;
    border:5px ridge black;
    height:420px;
    margin:10px;
    padding:2px;
    display:inline-block;
    opacity:100%;
    
    transform: scale(105%);
    transition:0.6s ease;
}

.foot{
    margin:40px;
    color:rgb(245, 33, 33);
    text-align:center;
}

text{
    margin:40px;
    color:rgb(245, 33, 33);
    text-align:center;
    
}

.gallery .photos img{
    margin-top:50px;
    width:300px;
    border:5px ridge black;
    height:400px;
    margin:10px;
    padding:2px;
    transform: scale(100%);
    display:inline-block;
    opacity: 40%;
}